@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Source Sans Pro", sans-serif;
}

/* Estilos y Media Queries del Header con Bootstrap */
.bg-menu {
  background-color: darkorange;
}

.logo-navbar {
  width: 60px;
  border-radius: 50%;
}

.carousel {
  margin-top: 74px;
}

.height-carosuel {
  height: 80vh;
}
@media screen and (max-width: 467px) {
  .height-carosuel {
    height: 50vh;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .height-carosuel {
    height: 65vh;
  }
}

.nav-link:hover {
  color: skyblue !important;
  transform: scale(1.22);
  transition: all 0.5s ease-out;
}

/* Encabezados de las secciones */
h1 {
  margin: 50px;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}
@media screen and (max-width: 467px) {
  h1 {
    display: block;
    padding: 0;
    margin: 2rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  h1 {
    display: block;
    padding: 0;
    margin: 2rem;
    font-size: 1.75rem;
  }
}

.subtitulo-index {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 0;
}

.descripcion {
  font-family: "Times New Roman", Times, serif;
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}
@media only screen and (max-width: 467px) {
  .descripcion {
    display: block;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .descripcion {
    display: block;
    font-size: 1.5rem;
  }
}

/* Sección servicios en index */
section div img {
  width: 70%;
  height: 70%;
}
section div img:hover {
  transform: scale(1.085);
  transition: all 1.5s ease;
}
@media only screen and (max-width: 467px) {
  section div img {
    width: 50%;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  section div img {
    width: 40%;
  }
}

.seccion-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
}
.seccion-container .masaje-relajante {
  grid-area: 1/1/2/2;
}
.seccion-container .masaje-piedras {
  grid-area: 1/2/2/3;
}
.seccion-container .masaje-deportivo {
  grid-area: 1/3/2/4;
}
@media screen and (max-width: 467px) {
  .seccion-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .seccion-container {
    display: flex;
    flex-direction: column;
  }
}

/* Sección Servicios */
.encabezado-servicios h1 {
  margin-top: 100px;
}
@media screen and (max-width: 467px) {
  .encabezado-servicios h1 {
    margin: 3rem;
    margin-top: 100px;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .encabezado-servicios h1 {
    margin: 3rem;
    margin-top: 100px;
  }
}

.servicios-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}
.servicios-container .servicios-item1 {
  grid-area: 1/1/2/2;
}
.servicios-container .servicios-item2 {
  grid-area: 1/2/2/3;
}
.servicios-container .servicios-item3 {
  grid-area: 1/3/2/4;
}
.servicios-container .servicios-item4 {
  grid-area: 2/1/3/2;
}
.servicios-container .servicios-item5 {
  grid-area: 2/2/3/3;
}
.servicios-container .servicios-item6 {
  grid-area: 2/3/3/4;
}
@media screen and (max-width: 467px) {
  .servicios-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .servicios-container {
    display: flex;
    flex-direction: column;
  }
}

/* Sección Productos */
.encabezado-productos {
  margin-top: 100px;
}

.productos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}
.productos-container .productos-item1 {
  grid-area: 1/1/2/2;
}
.productos-container .productos-item2 {
  grid-area: 1/2/2/3;
}
.productos-container .productos-item3 {
  grid-area: 2/1/3/2;
}
.productos-container .productos-item4 {
  grid-area: 2/2/3/3;
}
@media screen and (max-width: 467px) {
  .productos-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .productos-container {
    display: flex;
    flex-direction: column;
  }
}

/* Sección Experiencia */
.encabezado-experiencia {
  margin-top: 100px;
}

.card {
  width: 50%;
  height: 95%;
  margin-bottom: 2.5rem;
  border-radius: 2rem;
  text-align: center;
}
@media screen and (max-width: 467px) {
  .card {
    width: 100%;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .card {
    width: 75%;
  }
}

.card-personalizada {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 467px) {
  .card-personalizada {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .card-personalizada {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Sección Contacto */
.encabezado-contacto {
  margin-top: 100px;
}

.formulario {
  text-align: center;
  width: 30%;
}
@media screen and (max-width: 467px) {
  .formulario {
    width: 70%;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .formulario {
    width: 45%;
  }
}

.form-control {
  resize: none;
}

/* Footer */
.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 50px;
}

.container {
  max-width: 1170px;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h2 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: darkorange;
  height: 2px;
  box-sizing: border-box;
  width: 35px;
}

ul {
  list-style: none;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: darkorange;
  padding-left: 8px;
}

.footer-col .textos:not(:last-child) {
  margin-bottom: 5px;
}

.lista {
  padding-left: 0;
}

.textos-calendario {
  font-size: 14px;
  color: #bbbbbb;
  display: inline-block;
  font-weight: 300;
}

.iconos-contacto {
  display: inline-block;
  width: 10px;
  height: 10px;
  color: #ffffff;
  margin: 0 10px 10px 0;
}

.textos-contacto {
  font-size: 13px;
  color: #bbbbbb;
  display: inline-block;
  font-weight: 300;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: darkorange;
}

@media screen and (min-width: 468px) and (max-width: 991px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-col .textos-contacto {
    font-size: 12px;
  }
}
@media screen and (max-width: 467px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer-col .textos-contacto {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
