@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: seashell;
  font-family: "Source Sans Pro", sans-serif;
}

/* Estilos y Media Queries del Header con Bootstrap */
.bg-menu {
  background-color: darksalmon;
}

.logo {
  width: 250px;
  margin-top: 1.25rem;
}
@media screen and (max-width: 467px) {
  .logo {
    width: 200px;
  }
}

.collapse {
  margin-left: 3rem;
  font-size: 1.25rem;
}

.nav-link:hover {
  color: skyblue !important;
}

@media screen and (max-width: 467px) {
  .collapse {
    margin-left: 0;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .collapse {
    margin-left: 0;
    font-size: 1rem;
  }
}
/* Encabezados de las secciones */
h1 {
  margin: 50px;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}
@media screen and (max-width: 467px) {
  h1 {
    display: block;
    padding: 0;
    margin: 2rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  h1 {
    display: block;
    padding: 0;
    margin: 2rem;
    font-size: 1.75rem;
  }
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 467px) {
  h2 {
    display: block;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  h2 {
    display: block;
    font-size: 1.5rem;
  }
}

/* Sección servicios en index */
section div img {
  width: 70%;
  height: 70%;
}
section div img:hover {
  transform: scale(1.085);
  transition: all 1.5s ease;
}
@media only screen and (max-width: 467px) {
  section div img {
    width: 50%;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  section div img {
    width: 40%;
  }
}
section div h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 1.5rem;
  margin-top: 0.25rem;
}
@media only screen and (max-width: 467px) {
  section div h3 {
    font-size: 1.25rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  section div h3 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

.seccion-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.seccion-container .masaje-relajante {
  grid-area: 1/1/2/2;
}
.seccion-container .masaje-piedras {
  grid-area: 1/2/2/3;
}
.seccion-container .masaje-deportivo {
  grid-area: 1/3/2/4;
}
@media screen and (max-width: 467px) {
  .seccion-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .seccion-container {
    display: flex;
    flex-direction: column;
  }
}

/* Sección Servicios */
@media screen and (max-width: 467px) {
  .encabezado-servicios h1 {
    margin: 3rem;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .encabezado-servicios h1 {
    margin: 3rem;
  }
}

.servicios-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.servicios-container .servicios-item1 {
  grid-area: 1/1/2/2;
}
.servicios-container .servicios-item2 {
  grid-area: 1/2/2/3;
}
.servicios-container .servicios-item3 {
  grid-area: 1/3/2/4;
}
.servicios-container .servicios-item4 {
  grid-area: 2/1/3/2;
}
.servicios-container .servicios-item5 {
  grid-area: 2/2/3/3;
}
.servicios-container .servicios-item6 {
  grid-area: 2/3/3/4;
}
@media screen and (max-width: 467px) {
  .servicios-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .servicios-container {
    display: flex;
    flex-direction: column;
  }
}

/* Sección Productos */
.productos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.productos-container .productos-item1 {
  grid-area: 1/1/2/2;
}
.productos-container .productos-item2 {
  grid-area: 1/2/2/3;
}
.productos-container .productos-item3 {
  grid-area: 2/1/3/2;
}
.productos-container .productos-item4 {
  grid-area: 2/2/3/3;
}
@media screen and (max-width: 467px) {
  .productos-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .productos-container {
    display: flex;
    flex-direction: column;
  }
}

/* Sección Experiencia */
.card {
  width: 50%;
  height: 95%;
  margin-bottom: 2.5rem;
  border-radius: 2rem;
}
@media screen and (max-width: 467px) {
  .card {
    width: 100%;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .card {
    width: 75%;
  }
}

.card-personalizada {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 467px) {
  .card-personalizada {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .card-personalizada {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Sección Contacto */
/* Footer */
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin-top: 50px;
  padding-top: 50px;
  background-color: darksalmon;
}
.footer-container .redes {
  grid-area: 1/1/2/2;
  align-items: flex-end;
}
.footer-container .redes img {
  width: 2.5rem;
  margin: 15px;
}
.footer-container .redes img:hover {
  transform: scale(1.65);
  transition: all 1.35s ease-out;
}
.footer-container .mapa {
  grid-area: 1/2/2/3;
}
.footer-container .mapa iframe {
  width: 85%;
  height: 40vh;
}
@media screen and (max-width: 467px) {
  .footer-container .mapa iframe {
    width: 12rem;
    height: 12rem;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .footer-container .mapa iframe {
    width: 14rem;
    height: 14rem;
  }
}
.footer-container .footer-menu {
  grid-area: 1/3/2/4;
  align-items: flex-end;
}
.footer-container div nav ul li {
  list-style: none;
}
.footer-container div nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.footer-container div nav ul li a:hover {
  color: skyblue;
}
@media screen and (max-width: 467px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 468px) and (max-width: 991px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
}

/* Extends */
.collapse, .footer-container .redes, .footer-container .footer-menu {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
