/* Sección Contacto */

.encabezado-contacto {
    margin-top: 100px;
}

.formulario {
    text-align: center;
    width: 30%;

    @media screen and (max-width: 467px) {
        width: 70%;
    }

    @media screen and (min-width: 468px) and (max-width: 991px) {
        width: 45%;
    }
}

.form-control {
    resize: none;
}