/* Sección Experiencia */

@import '../base/mixins';

.encabezado-experiencia {
    margin-top: 100px;
}

.card {
    width: 50%;
    height: 95%;
    margin-bottom: 2.5rem;
    border-radius: 2rem;
    text-align: center;

    @media screen and (max-width: 467px) {
        width: 100%;
    }

    @media screen and (min-width: 468px) and (max-width: 991px) {
        width: 75%;
    }
}

.card-personalizada {
    margin-left: 0;
    margin-right: 0;

    @include media-queries(flex, column, center);
}