/* Footer */

@import '../base/maps';
@import '../base/mixins';

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-top: 50px;
    padding-top: 50px;
    background-color: map-get($colores, bg-color-standard);
    .redes {
        grid-area: 1 / 1 / 2 / 2;
        @extend %flex-center; 
        align-items: flex-end;
        
        img {
            width: 2.5rem;
            margin: 15px;

            &:hover {
                transform: scale(1.65);
                transition: all 1.35s ease-out;
            }
        }
    }
    .mapa {
        grid-area: 1 / 2 / 2 / 3;
        iframe {
            width: 85%;
            height: 40vh;

            @media screen and (max-width: 467px) {
                width: 12rem;
                height: 12rem;
            }

            @media screen and (min-width: 468px) and (max-width: 991px) {
                width: 14rem;
                height: 14rem;
            }
        }
    }
    .footer-menu {
        grid-area: 1 / 3 / 2 / 4;
        @extend %flex-center;
        align-items: flex-end;
    }
    div {
        nav {
            ul {
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: map-get($colores, color-menu-footer);
                        font-size: 1rem;
                        font-weight: bold;

                        &:hover {
                            color: map-get($colores, color-hover);
                        }
                    }
                }
            }
        }
    }

    @include media-queries (flex, column, null);
}