/* Footer */

.footer {
	background-color: #24262b;
    padding: 70px 0;
	margin-top: 50px;
}

.container {
	max-width: 1170px;
	margin:auto;
    font-family: 'Poppins', sans-serif;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h2 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h2::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: darkorange;
	height: 2px;
	box-sizing: border-box;
	width: 35px;
}

ul {
	list-style: none;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #bbbbbb;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: darkorange;
	padding-left: 8px;
}

.textos {
	font-size: 14px;
	color: #bbbbbb;
	display: block;
	font-weight: 300;
}

.footer-col .textos:not(:last-child) {
	margin-bottom: 5px;
}

.lista {
	padding-left: 0;
}

.iconos-contacto {
	display: inline-block;
	width: 10px;
	height: 10px;
	color: #ffffff;
	margin:0 10px 10px 0;
}

.textos-contacto {
	font-size: 14px;
	color: #bbbbbb;
	font-weight: 300;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: darkorange;
}


@media screen and (min-width: 468px) and (max-width: 991px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;

	.textos, .textos-contacto {
		font-size: 12px;
	}
}
}

@media screen and (max-width: 467px) {
  .footer-col {
    width: 100%;
	margin-bottom: 30px;

	.textos, .textos-contacto {
		font-size: 12px;
	}
}
}