/* Footer */

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-top: 100px;
    .redes {
        grid-area: 1 / 1 / 2 / 2; 
        display: flex;
        align-items: flex-end;
        justify-content: center;
        img {
            width: 2.5rem;
            margin: 15px;

            &:hover {
                transform: scale(2);
                transition: all 1s ease;
            }
        }
    }
    .mapa {
        grid-area: 1 / 2 / 2 / 3;
        iframe {
            width: 85%;
            height: 40vh;

            @media screen and (max-width: 467px) {
                width: 12rem;
                height: 12rem;
            }

            @media screen and (min-width: 468px) and (max-width: 991px) {
                width: 14rem;
                height: 14rem;
            }
        }
    }
    .footer-menu {
        grid-area: 1 / 3 / 2 / 4;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    div {
        nav {
            ul {
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 1rem;
                        font-weight: bold;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 467px) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 468px) and (max-width: 991px) {
        display: flex;
        justify-content: space-evenly;
    }
}