/* Estilos y Media Queries del Header con Bootstrap */

@import '../base/maps';

.bg-menu {
    background-color: map-get($colores, bg-color-standard);
}

.logo-navbar {
    width: 60px;
    border-radius: 50%;
}

.carousel {
    margin-top: 74px;
}

.height-carosuel {
    height: 80vh;

    @media screen and (max-width: 467px) {
        height: 50vh;
    }

    @media screen and (min-width: 468px) and (max-width: 991px) {
        height: 65vh;
    }
}

.nav-link {
    &:hover {
        color: map-get($colores, color-hover) !important;
        transform: scale(1.22);
        transition: all 0.6s ease-out;
    }
}