/* Estilos y Media Queries del Header con Bootstrap */

@import '../base/maps';

.bg-menu {
    background-color: map-get($colores, bg-color-standard);
}

.logo-container {
    margin-top: 22px;
}

.logo {
    width: 250px;

    @media screen and (max-width: 467px) {
        width: 200px;
    }
}

.height-carousel {
    height: 95vh;
}

.collapse {
    margin-left: 3rem;
    font-size: 1.25rem;
    @extend %flex-center;
}

.nav-link {
    &:hover {
        color: map-get($colores, color-hover) !important;
    }
}

@media screen and (max-width: 467px) {
    .collapse {
        margin-left: 0;
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 468px) and (max-width: 991px) {
    .collapse {
        margin-left: 0;
        font-size: 1rem;
    }
}