/* Estilos y Media Queries del Header con Bootstrap */

@import '../base/maps';

.bg-menu {
    background-color: map-get($colores, bg-color-standard);
}

.logo-navbar {
    width: 60px;
    border-radius: 50%;
}

.height-carosuel {
    height: 100vh;
}

.carousel {
    @media screen and (max-width: 467px) {
        display: none;
    }
}

.nav-link {
    &:hover {
        color: map-get($colores, color-hover) !important;
        transform: scale(1.22);
        transition: all 0.5s ease-out;
    }
}