/* Sección servicios en index */

@import '../base/maps';
@import '../base/mixins';

section {
    div {
        img {
            width: 70%;
            height: 70%;

            &:hover {
                transform: scale(1.085);
                transition: all 1.5s ease;
            }

            @media only screen and (max-width: 467px) {
                width: 50%;
            }

            @media screen and (min-width: 468px) and (max-width: 991px) {
                width: 40%;
            }
        }

        h3 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: map-get($colores, color-encabezados);
            font-size: 1.5rem;
            margin-top: 0.25rem;

            @media only screen and (max-width: 467px) {
                font-size: 1.25rem;
                margin-bottom: 3rem;
            }

            @media screen and (min-width: 468px) and (max-width: 991px) {
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }
        }
    }
}

.seccion-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
    .masaje-relajante {
        grid-area: 1/1/2/2;
    }
    .masaje-piedras {
        grid-area: 1/2/2/3;
    }
    .masaje-deportivo {
        grid-area: 1/3/2/4;
    }

    @include media-queries(flex, column, null);
}