/* Sección Servicios */

.encabezado-servicios {
    h1 {
        @media screen and (max-width: 467px) {
            margin: 3rem;
        }

        @media screen and (min-width: 468px) and (max-width: 991px) {
            margin: 3rem;
        }
    }
}

.servicios-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .servicios-item1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .servicios-item2 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .servicios-item3 {
        grid-area: 1 / 3 / 2 / 4;
    }
    .servicios-item4 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .servicios-item5 {
        grid-area: 2 / 2 / 3 / 3;
    }
    .servicios-item6 {
        grid-area: 2 / 3 / 3 / 4;
    }

    @media screen and (max-width: 467px) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 468px) and (max-width: 991px) {
        display: flex;
        flex-direction: column;
    }
}