/* Encabezados de las secciones */

@import '../base/maps';

h1 {
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: map-get($colores, color-encabezados);

    @media screen and (max-width: 467px) {
        display: block;
        padding: 0;
        margin: 2rem;
        font-size: 1.5rem;
    }

    @media screen and (min-width: 468px) and (max-width: 991px) {
        display: block;
        padding: 0;
        margin: 2rem;
        font-size: 1.75rem;
    }
}

.subtitulo-index {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 0;
}

.descripcion {
    font-family: 'Times New Roman', Times, serif;
    color: map-get($colores, color-encabezados);
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;

    @media only screen and (max-width: 467px) {
        display: block;
        font-size: 1.25rem;
    }

    @media screen and (min-width: 468px) and (max-width: 991px) {
        display: block;
        font-size: 1.5rem;
    }
}